@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
@font-face {
    font-family: 'PineForest';
    src: local('PineForest'), url('PineForest.otf') format('opentype');
}
@font-face {
    font-family: 'QuickCamping';
    src: local('QuickCamping'), url('QuickCamping.otf') format('opentype');
}
p, a, button, li {
    font-family: 'Bilbo Swash Caps', cursive;
    font-weight: 600;
}
h1 {
    font-family: 'PineForest', serif;
}
h2, h3 {
    font-family: 'QuickCamping', serif;
}

/*
NOTES FOR THE COLORS:
  - The sidebar shown in the wireframe will have the hex values of #614109 for the main backgorund and #ebfc75 for the background of the sections
  - The main background for the whole page will be a gradient a gradient between #0d4641 and #cfe1fc
  - The headers and title will have #3dd104 as the text color
  - The paragraph elements will use #614109 as the text color
*/